/*
@keyframes hideSplashScreen{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}
.splash-screen{
    z-index: 7;
    background-image: url('../img/splash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 3000px;
    top:0;
    animation: hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 1s;
}   */